* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template: {
    rows: 60px 1fr;
    columns: minmax(0.75fr, 0.85fr);
  };
  justify-content: center;
  grid-template-areas:
		"header"
		"main";
  background-color: white;
  box-shadow: black 1px 1px;
}

.header {
  background-color: black;
  color: white;
  font: {
    size: 16px;
    weight: bold;
    family: "Gill Sans", sans-serif;
  };
  height: 60px;
  display: grid;
  grid-template: 60px/100px 660px 700px;
  gap: 30px;
  justify-content: center;
  align-items: center;

  .header__navigation-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .header__settings {
    display: grid;
    grid-template-columns: 100px 50px 50px 100px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding-left: 350px;
    .header__button {
      margin: 0 auto;
      cursor: pointer;
      width: 70px;
      height: 40px;
      background-color: black;
      padding: 5px;
      color: white;
      border: {
        style: groove;
      }
    }
    .header__lg {
      text-align: center;
      cursor: pointer;
    }
    .header__login {
      text-align: center;
      cursor: pointer;

    }
  }
}

.main {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.carousel {
  display: grid;
  align-items: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel__slide__arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.carousel__slide__arrow__left {
  left: 0;
}

.carousel__slide__arrow__right {
  right: 0
}

.carousel__slide {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.widgets {
  display: grid;
  gap: 40px;
  font: {
    size: 16px;
    weight: bold;
    family: "Gill Sans", sans-serif;
  };
  grid-template: {
    rows: 130px 320px;
    columns: 80%;
  };
  align-items: center;
  justify-content: center;

  .types {
    height: 90%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

.types__el {
  width: 20%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.streams-block {
  height: 90%;
}

.streams-block__header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.streams-block__button-block {
  display: flex;
  button {
    padding: 10px 20px 10px 20px;
    color: gray;
    font: {
      weight: bold;
    };
    cursor: pointer;
    border: {
      style: initial;
      left: gray;
    }
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  .streams-block__button-block__active {
    color: black;
  }
}

.streams-block__text {
  font: {
    size: 25px;
    style: initial;
    weight: initial;
  };
}

.streams {
  display: flex;
  gap: 25px;
}

.streams__el {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25%;
  height: 100%;
  font: {
    size: 15px;
    style: initial;
    weight: bold;
  };
  .img {
    width: 100%;
    height: 60%;
  }

  .streams__el__date {
    color: gray;
    font: {
      size: 10px;
    };
  }
  .streams__el__cost {
    color: gray;
  }
}
