*{
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    
}
.nav{
    width: 100%;
    background: #000;

}
.section{
    margin: 0px 60px;
}
.logo {
align-items: center;
display: flex;
}
.logo img{
    width: 150px;
}

.container-header{
    width: 100%;
    display: flex;
    color: whitesmoke;
    
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
}
.menu li{
    margin: 0px 15px;
    font-size: 18px;
    font-weight: bold;
}
.button-menu{
    display: flex;
    align-items: center;

}
.button-menu li{
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
}
.bold{
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px 20px;
    display: flex;

}
.button-menu li:hover{
color: red;
}
.bold:hover{border: 1px solid red;}
.menu li:hover{color:red}



/*slider*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.slider-container {
    text-align: center;
}

.slider {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

.slider-controls {
    margin-top: 10px;
}

.slider-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.slider-button:hover {
    background-color: #0056b3;
}

.slider-pagination {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
.ser{
    width: 100%;
    background: gainsboro;
}
.container-carts{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cart{
    margin:0px 15px;
}
.news{
    width: 100%;
    
}
.news-header-text{
    display: block;
}
.news-header-text h1{
    font-weight: 100;
}
.container-news{
    width: 100%;
    display: flex;
    
}
.container-new{margin: 0px 15px;}
.container-new img{
width: 300px;
}
.container-new h1 {font-weight:normal; font-size: 13px;}
.container-new h2 {font-weight:normal; font-size: 13px; color: red;}