h1 {
    color: #333;
    font-size: 24px; 
    margin-top: 20px;   
}

.photo-row {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.photo-item {

    text-align: center;
    
    margin: 0 15px;
    box-sizing: border-box; 
    display: block;
}

.photo-item img {
   width: 280px;
}

.photo-item p {
    margin: 5px 0;
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif; 
    font-size: 16px; 
    color: #161414; 
}
.chale{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__text{
    width: 100%;
    justify-content: center;
    align-items: center;

}
.header__text h1{
    text-align: center;
}