.huvv-header {
    background-color: rgb(17, 16, 16);
    height: 50px;
    width: 120vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
}

.huvv-header button {
    margin: 10px;
    height: 30px;
    border: 2px solid white;
    border-radius: 25px;
    color: aliceblue;
    background-color: rgb(25, 25, 20);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.huvv-header button:hover {
    animation-name: change-log-status;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.huvv-log {
    margin-left: 36px;
}

.huvv-logo {
    margin-top: 10px;
    margin-left: 50px;
}

.huvv-logo img {
    height: 2.2rem;
    width: 7rem;
}

.huvv-nav-bar {
    margin-left: 10px;
    padding: 15px;
}

.huvv-nav-bar a {
    padding: 10px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    font-weight: bold;
}

.huvv-nav-bar a:hover {
    animation-name: change-letter-color;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}


@keyframes change-letter-color {
    from {
        color: aliceblue
    }

    to {
        color: rgb(40, 95, 142);
    }
}

@keyframes change-log-status {
    form {
        background-color: rgb(25, 25, 20);
        color: aliceblue;
    }

    to {
        color: rgb(25, 25, 20);
        background-color: aliceblue;
    }
}