body, html {
    margin: 0;
    padding: 0;
    height: 100rem;
}
.huvv-container {
    height: 100%;
    width: 100%;
    background-color: rgb(230, 235, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/cinema-lovers-day-watch-any-movie-at-just-rs-99-details-inside.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.huvv-page {
    background-color: rgb(236, 240, 244);
    max-width:120vh;
    height: 100%;
    box-shadow: 2px 0 70px rgb(48, 39, 39)
}
