.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #616161;
  max-width: 100%;
  max-height: 471px;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
}

.slide {
  flex: 0 0 100%;
  text-align: center;
  img {
    max-width: 100%;
    max-height: 471px;
    position: relative;
  }
}

.pagination {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  .dot {
    width: 7px;
    height: 7px;
    margin: 0 5px;
    background-color: rgb(87, 87, 87);
    border-radius: 50%;
    cursor: pointer;
    &.active {
      background-color: #ffffff;
    }
    &.active{
      background-color: #ffffff;
    }
  }
}

.discount-block {
    width: 171px;
    height: 52px;
    background-color: rgb(223, 50, 54);
    color: white;
    text-align: center;
    line-height: 52px;
    position: absolute;
    top: 370px; 
    left: 94%; 
    transform: translateX(-50%);
}


.slider-nav {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1; 
}

.prev,
.next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 35px;
    padding: 10px 20px;
    cursor: pointer;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}